.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 10%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 0 auto;
}

.nav-connect {
    padding: 15px 20px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DAD7C5 0.36%, #B923E1 102.86%);
    transition: all 0.5s ease; /* Efecto suave para todas las propiedades animadas */
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    width: 100px;
}

.nav-connect:hover {
    transform: translateY(-50%) scale(1.05); /* Asegura que el botón se escale sin mover su posición central */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Agrega sombra para destacar el botón */
}

/* Estilos adicionales para el hover de los enlaces del menú */
.nav-menu li {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-menu a:hover {
    color: #E0A0FF; /* Cambia el color al hacer hover */
    transform: translateY(-2px); /* Crea un pequeño efecto de elevación */
}

.nav-menu a:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #E0A0FF;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-close{
    display: none;
    cursor: pointer;
}
.nav-mob-open{
    display: none;
    cursor: pointer;
    width: 30px;
}
@media(max-width:768px){
    .navbar{
        margin: 20px 6%;
    }
    .nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: absolute;
        right: 30px;
    }
    .nav-mob-close{
        display: block;
        position: absolute;
        top: 30px;
        right: 7%;
        width: 30px;
    }
    .navbar ul{
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #1F0016;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -300px;
        padding-top: 100px;
    }
    .nav-menu li{
        font-size: 22px;
        padding-left: 50px;
        flex-direction: row;
        gap: 20px;
    }
}